{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "env": {
      "browser": true,
      "node": true
    }
}
