state
 :before,
 :after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.page {
  padding: 30px;
  min-width: 320px;
}

.sprite {
  /*display: inline-block;*/
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
}

.sprite--pozition_1 {
  background-position: -112px -39px;
}

.sprite--pozition_2 {
  background-position: -112px -76px;
}

.sprite--pozition_3 {
  background-position: 0px -150px;
}

.state {
  font-size: 12px;
 /* display: inline-block;*/
  vertical-align: top;
  color: #fff;
  outline: 0;
  border-radius: 5px;
  border: 0;
  text-align: center;
}

.state--size_default {
  min-width: 30px;
  height: 36px;
  padding: 0 10px;
  line-height: 36px;
}

.state--theme_approved {
  background-color: green;
}

.state--theme_pending {
  background-color: red;
}

.state--theme_error {
  background-color: orange;
}

.list {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24), -1px -1px 3px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}

.list__item {
  border-bottom: 1px solid #EEC;
  padding: 10px;
}

.list__item:last-child {
  border-bottom: none;
}

.list-item__sprite {
  display: table-cell;
  float: left;
}

.list-item__state {
  float: right;
}

.list-item__paragraph {
  display: table-cell;
  padding: 10px;
  text-align: justify;
}

.circle {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: radial-gradient(green, #2e520c, red);
  background-size: 5px 5px;
  box-shadow: inset -2px 20px 5px rgba(26, 182, 28, 0.80), inset -21px 0px 5px rgba(168, 28, 181, 0.80), inset 0px -18px 5px rgba(64, 77, 219, 0.80), inset 22px -2px 5px rgba(64, 235, 144, 0.80), inset 17px 22px 5px rgba(196, 219, 64, 0.80), inset -16px -23px 5px rgba(224, 167, 64, 0.80);
}
