*,
 :before,
 :after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.page {
  padding: 30px;
  min-width: 300px;
}

.sprite {
  display: inline-block;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
}

.sprite--pozition_1 {
  background-position: -109px -38px;
}

.sprite--pozition_2 {
  background-position: -109px -76px;
}

.sprite--pozition_3 {
  background-position: 0px -148px;
}

.button {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  outline: 0;
  border-radius: 5px;
  border: 0;
  text-align: center;
}

.button--size_default {
  min-width: 30px;
  height: 36px;
  padding: 0 10px;
  line-height: 36px;
}

.button--theme_approved {
  background-color: green;
}

.button--theme_pending {
  background-color: red;
}

.button--theme_error {
  background-color: orange;
}

.list {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.list__item {
  border-bottom: 1px solid #EEC;
  padding: 10px;
}

.list__item:last-child {
  border-bottom: none;
}

.list-item__sprite {
  float: left;
}

.list-item__buttom {
  float: right;
}

.list-item__paragraph {
  padding: 10px;
  text-align: justify;
  margin-left: 45px;
  margin-right: 80px;
}

.circle {
  text-align: center;
}
