html {
  font-size: 16px;
}
table {
  width: 100%;
}
td {
  padding: 16px;
}
td:first-letter {
  color: red;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:nth-child(odd) td:nth-child(n + 5) {
  font-style: italic;
  font-weight: bold;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 1.2vw;
}
h6 {
  font-size: 8wh;
}
